<div class="d-flex justify-content-center container">
  <form action="/" method="POST">
    <div class="mb-3">
      <input type="url" name="url" class="form-control" placeholder="Input URL here" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary" id="shorten-button">
        Shorten
      </button>
    </div>
  </form>
</div>