<div class="d-flex flex-column justify-content-center align-items-center container">
  <h2>Success! Please use this link:</h2>

  <a href="{{originalURL}}" target="_blank">
    <font size="5">localhost:3000/{{transferURL}}</font>
  </a>
</div>